# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
# dotenv environment variables file
.env

target/
.idea/
.gitattributes

dist/
/local/
.DS_Store
packages/.DS_Store
*.tgz
docs/

# Bundlers
vite.config.ts.timestamp-*
vite.config.js.timestamp-*