# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
# dotenv environment variables file
.env

target/
.anchor/
.idea/
.gitattributes
test-ledger/
docker-target

packages/*/dist/
/local/
.DS_Store
packages/.DS_Store